<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker 😴</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Button to add sleepiness -->
  <ion-button expand="full" (click)="addSleepiness()">Add Sleepiness</ion-button>
  <!-- Number buttons -->
  <div *ngIf="showNumbers">
    <ion-button *ngFor="let number of numbers" (click)="selectNumber(number)">{{ number }}</ion-button>
  </div>
  <!-- Submit Button -->
  <ion-button *ngIf="selectedNumber !== undefined" (click)="submitNumber()">Submit</ion-button>
</ion-content>

