<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker 😴</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Button to add sleepiness -->
  <ion-button expand="full" class="add-sleepiness" (click)="addSleepiness()">Add Sleepiness</ion-button>

  <!-- Number buttons centered -->
  <div *ngIf="showNumbers" class="button-container">
    <ion-button *ngFor="let number of numbers" [ngStyle]="{'--background': getButtonColor(number)}" [class.selected]="selectedNumber === number" (click)="selectNumber(number)">{{ number }}</ion-button>
  </div>

  <!-- Submit and Cancel buttons centered and styled -->
  <div class="action-buttons" *ngIf="selectedNumber !== undefined || showNumbers">
    <ion-button color="success" (click)="submitNumber()">Submit</ion-button>
    <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
  </div>
</ion-content>

