<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All History</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas id="myChart"></canvas>

  <div>
    <span style="font-weight: bold;">Average Sleep Duration: </span>
    &nbsp;{{ avgSleepDuration | number:'1.0-2' }} hours.
  </div>
  <div>
    <span style="font-weight: bold;">Average Sleepiness: </span>
    &nbsp;{{ avgSleepinessVal | number:'1.0-2' }}
  </div>
  <div class="element"></div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">This Week</ion-title>
    </ion-toolbar>
  </ion-header>

  <canvas id="myChart2"></canvas>

  <div>
    <span style="font-weight: bold;">Average Sleep Duration: </span>
    &nbsp;{{ week_avgSleepDuration | number:'1.0-2' }} hours.
  </div>
  <div>
    <span style="font-weight: bold;">Average Sleepiness: </span>
    &nbsp;{{ week_avgSleepinessVal | number:'1.0-2' }}
  </div>

</ion-content>



