<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sleep Tracker</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Button to add overnight data -->
  <ion-button expand="full" class="add-overnight-sleep" (click)="handleLogBedtimeData()">
    {{ isLoggingBedtime ? 'Log Bedtime 🌒' : 'Log Wakeup Time ☀️' }}
  </ion-button>

  <!-- Button to add sleepiness -->
  <ion-button expand="full" class="add-sleepiness" *ngIf="isLoggingBedtime" (click)="addSleepiness()">Add Sleepiness 😴</ion-button>
  
  <!-- Number buttons centered -->
  <div *ngIf="showNumbers && isLoggingBedtime" class="button-container">
    <ion-button *ngFor="let number of numbers" [ngStyle]="{'--background': getButtonColor(number)}" [class.selected]="selectedNumber === number" (click)="selectNumber(number)">{{ number }}</ion-button>
  </div>

  <!-- Submit and Cancel buttons centered and styled -->
  <div class="action-buttons" *ngIf="isLoggingBedtime && (selectedNumber !== undefined || showNumbers)">
    <ion-button color="success" (click)="submitNumber()">Submit</ion-button>
    <ion-button color="warning" (click)="cancel()">Cancel</ion-button>
  </div>

  <div class="image-container" *ngIf="isLoggingBedtime">
    <img [src]="dayImagePath" alt="Sunrise" class="sunrise-image">
  </div>

  <div class="image-container" *ngIf="!isLoggingBedtime">
    <img [src]="nightImagePath" alt="Sunset" class="sunset-image">
  </div>
</ion-content>


